:root {
    --background-color: white;
    --padding-avg: 4rem;
}
* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
}
@font-face {
    font-family:'Hedvig_Letters_Sans';
    src: url('../fonts/HedvigLettersSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Hedvig_Letters_Serif';
    src: url('../fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.title {
    color: #000000;
    text-align: center;
    padding: .5rem;
    font-family: 'Hedvig_Letter_Serif';
    font-size: 2.5rem;
}
.title_description {
    color: #000000;
    text-align: center;
    font-family:'Hedvig_Letters_Sans';
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.header_title {
    grid-area: s;
}
.grid_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}
.grid_item {
    text-align: center;
}

.birthday {
display: block;
grid-area: p;
place-self: stretch;
font-family:'Hedvig_Letters_Sans';
color: #000000;
}

.box img{
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    object-fit: cover;
}

.box {
    padding: 2rem;

}
.sign {
    text-align: center;
    font-family:'Hedvig_Letters_Serif';
    padding: 1rem;
}
.js_date {
    font-family:'Hedvig_Letters_Sans';
    color: #000000;
    display: block;
    margin: auto;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}
.birthday_text {
    color:#000000;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.js_submit {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#155dc7;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: auto;
}
.sza_card, .brent_card, .summer_card, .giveon_card, .daniel_card, .jhene_card, .frank_card, .steve_card, .anderson_card, .queen_card, .beyonce_card, .alicia_card, .question_card {
    background-color: #fff;
    position: fixed;
    max-height: 90vh;
    min-height: 31.25rem;
    width: 31.25rem;
    width: 50%;
    margin: 0 25vw;
    border-radius: 20px;
    top: 10vh;
    z-index: 10;
    padding: 3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.image_show {
    height: auto;
    width: 200px;
    border-radius: 8px;
    padding: 1rem;
}

.hidden {
    display: none;
}
.hover_title {
    font-family:'Hedvig_Letters_Sans';
    color: #000000;
    padding: 1rem;
}
.hover_description {
    font-family:'Hedvig_Letters_Serif';
    color: #000000;
    line-height: 30px;
    padding: 1rem;
}

.questions_button {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#155dc7;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
    top: 25%;    
}

.questions {
    padding-top: 2rem;

}

.learn_more1 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more2 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more3 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more4 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more5 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more6 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more7 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more8 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more9 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more10 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more11 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.learn_more12 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#800020;
    border-radius: 20px;
    padding: .6rem 1rem;
    display: block;
    margin: 0 auto;
}

.artist {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:#000000;
    border-radius: 5px;
    padding: .5rem;
    display: block;
    margin: auto;
}
.artist {
    transition: all .2s ease-in-out; 
}
.artist_hover {
    transform: scale(1.1);
}
.js_submit_button {
    transition: all .2s ease-in-out;
}
.js_submit_button:hover {
    transform: scale(1.1);
}
.questions_button {
    transition: all .2s ease-in-out;
    margin-bottom: .75rem;
}
.questions_button:hover {
    transform: scale(1.1);
}