:root {
    --background-color: white;
    --bg-two: #0D1F2D;
    --bg-three: #546A7B;
    --padding-avg: 4rem;
}
* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
}
@font-face {
    font-family:'Hedvig_Letters_Sans';
    src: url('../fonts/HedvigLettersSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Hedvig_Letters_Serif';
    src: url('../fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.title {
    color: var(--bg-two);
    text-align: center;
    padding: .5rem;
    font-family: 'Hedvig_Letter_Serif';
    font-size: 2.5rem;
}
.title_desc {
    color: var(--bg-three);
    text-align: center;
    font-family:'Hedvig_Letters_Sans';
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.title_stuff {
    grid-area: s;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}
.grid-item {
    text-align: center;
}
.birthday {
display: block;
grid-area: p;
place-self: stretch;
font-family:'Hedvig_Letters_Sans';
color: var(--bg-two);
}

.box img{
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    object-fit: cover;
}
.box {
    padding: 2rem;

}
.sign {
    text-align: center;
    font-family:'Hedvig_Letters_Serif';
    padding: 1rem;
}
.js-date-input {
    font-family:'Hedvig_Letters_Sans';
    color: var(--bg-two);
    display: block;
    margin: auto;
    padding-bottom: .5rem;
}
.bday_text {
    display: block;
    text-align: center;
}

.js-submit-button {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: auto;
}
.sza-card, .brent-card, .summer-card, .giveon-card, .daniel-card, .jhene-card, .frank-card, .steve-card, .anderson-card, .queen-card, .beyonce-card, .alicia-card, .question-card {
    background-color: #fff;
    position: fixed;
    max-height: 90vh;
    min-height: 31.25rem;
    width: 31.25rem;
    width: 50%;
    margin: 0 25vw;
    border-radius: 20px;
    top: 10vh;
    z-index: 10;
    padding: 3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.imagein {
    height: auto;
    width: 200px;
    border-radius: 8px;
    padding: 1rem;
}

.hidden {
    display: none;
}
.hover_title {
    font-family:'Hedvig_Letters_Sans';
    color: var(--bg-two);
    padding: 1rem;
}
.hover_desc {
    font-family:'Hedvig_Letters_Serif';
    color: var(--bg-three);
    line-height: 30px;
    padding: 1rem;
}

.question-button {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
    top: 25%;    
}

.questions {
    padding-top: 2rem;

}
.questionstuff {
    padding: 1rem;
}

.learn-more1 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more2 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more3 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more4 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more5 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more6 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more7 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more8 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more9 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more10 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more11 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.learn-more12 {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .3rem;
    display: block;
    margin: 0 auto;
}

.rap {
    font-family:'Hedvig_Letters_Sans';
    color: white;
    background:var(--bg-two);
    border-radius: 5px;
    padding: .5rem;
    display: block;
    margin: auto;
}
.rap {
    transition: all .2s ease-in-out; 
}
.rap:hover {
    transform: scale(1.1);
}
.js-submit-button {
    transition: all .2s ease-in-out;
}
.js-submit-button:hover {
    transform: scale(1.1);
}
.question-button {
    transition: all .2s ease-in-out;
}
.question-button:hover {
    transform: scale(1.1);
}